<div class="container mt-3">
    <app-product [categories]="categories"></app-product>

    <div class="display-6">{{title}}</div>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table" id="productsTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col" class="d-none d-md-table-cell">Descrição</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Categoria</th>
                        <th scope="col" class="d-none d-md-table-cell">Opções</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let product of this.products">
                        <th>{{product.id}}</th>
                        <th>{{product.name}}</th>
                        <th>{{product.description}}</th>
                        <th>{{product.price}}</th>
                        <th>{{product.category.name}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>